@charset "UTF-8";

@font-face {
    font-family: 'comico-black';
    src: url('fontes/Cinzel-Black.ttf');
}

@font-face {
    font-family: 'cinzel-bold';
    src: url('fontes/Cinzel-Bold.ttf');
}

@font-face {
    font-family: 'dominio-bold';
    src: url('fonte2/Domine-Bold.ttf');
}

@font-face {
    font-family: 'lola';
    src: url('fonte3/Lora-SemiBold.ttf');
}


* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #FF312E;
    --cor1: #333138;
    --cor2: #000103;
    --cor3: #515052;
    --cor4: #FFFFFA;
    --cor5: #993133;
    --cor6: #a5d0d6;

    --font-padrao: Arial, sans-serif;
    --font-destaque: 'cinzel-bold', cursive;
    --font-comico: 'comico-black', cursive;
    --font-realeza: 'dominio-bold', cursive;
    --font-lola: 'lola', Courier, monospac ;
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    position: relative;
}

header > h1 {
    font-family: var(--font-comico);
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 20px;
}

header > p {
    color: white;
    font-family: var(--font-realeza);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}


nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.288);
}

nav > a {
    color: var(--cor4);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 7px;
    text-decoration: underline;
}

main {
    background-color: var(--cor4);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    max-width: 900px;
    min-width: 320px;
    box-shadow: 0px 0px 10px black;
}

main > h1 {
    font-family: var(--font-lola);
    text-align: center;
}

main > h2 {
    font-family: var(--font-lola);
    margin: 15px 0px;
    padding: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--cor6), var(--cor4));
}

main > p {
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 1em;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.5em;
    margin: 15px 0px;
}

main > p > a {
    color: var(--cor0);
    text-decoration: none;
    font-family: var(--font-comico);
    font-size: 18px;

}

main > p > a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

picture > img {
    margin: auto;
    display: block;
}
