@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #FF312E;
    --cor1: #333138;
    --cor2: #000103;
    --cor3: #515052;
    --cor4: #FFFFFA;
    --cor5: #993133;

    --font-padrao: Arial, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body {
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--font-destaque);
}

nav {
    background-color: var(--cor5) ;
}


